.cardList {

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #484848;
}

.link {
    font-size: 14px;
    line-height: 18px;
    color: #484848;
}

.link a {
    color: inherit;
    text-decoration: none;
}

.list {
    --columns-count: none;

    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(var(--columns-count), 1fr);
}
