.card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.name {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #484848;
    margin: 4px 0 0 0;
}

.img {
    width: 100%;
    min-height: 120px;
    max-height: 300px;
    object-fit: cover;
}

.prepend {
    margin: 5px 0 -5px 0;
}
