.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px #EFEFEF;
    border-radius: 3px;
}

.name {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #484848;
    margin: 0 18px;
}

.img {
    width: 96px;
    height: 70px;
    object-fit: cover;
}
